.btn {
    padding: 10px 30px;
    border: none;
    outline: none;
    text-transform: uppercase;
    text-align: center;
}
.btn a {
    text-decoration: none;
}
.yellow-btn {
    background-color: #ffb400;
    border: 1px solid #ffb400;
}
.yellow-btn a {
    color: white;
}
.outline-btn {
    border: 1px solid #ffb400;
    background-color: inherit;
    color: #ffb400;
    transition: 0.3s ease;
}
.outline-btn a {
    color: #ffb400;
    transition: 0.3s ease;
}
.outline-btn:hover {
    background-color: #ffb400;
    color: white;
}
.outline-btn a {
    color: white;
}