/*btn*/
.btn {
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 3px 5px;
  transition: all 0.2s ease;
  font-size: 1.2em;
  color: white;
  transition: all 0.3s ease;
}

.btn a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 400;
}
/*js btn*/
.js-btn {
  background-color: #ff8700;
}
/*jquery btn */
.jquery-btn {
  background-color: #8d00ff;
}
/* web design btn */
.webdesign-btn {
  background-color: #4bb92f;
}
.css-btn {
  background-color: #0078ff;
}
