.post {
  transition: all 0.3s ease;
}
/*post meta */
.post-meta {
  padding-top: 10px;
  padding-bottom: 15px;
}

.post-meta .btn {
  margin-right: 20px;
}
/*post-title*/
.post-title {
  line-height: 1.9em;
}
.post-title a {
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: none;
  transition: all 0.3s ease;
}
.post-title-big a {
  font-size: 1.6em;
}

.post-title-white a {
  color: white;
}
.post-title-white a:hover {
  border-bottom: 2px solid white;
  transition: 0.3s;
}
.post-title-black a {
  color: #212631;
}
.post-title-black a:hover {
  border-bottom: 2px solid black;
  transition: 0.3s;
}
/* post Dates */
.post-date {
  font-size: 1em;
  font-weight: 500;
}
.post-date-light {
  color: #eceef2;
}
.post-date-dark {
  color: #3d455c;
}
/* post-thumb */

.post-container {
  flex-direction: row;
}
/* post-body-text */
.post-body-text,
.post-blockquote {
  font-family: "Nunito", sans-serif;
  padding-top: 5px;
  color: #3d455c;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 26px;
}

.post-blockquote {
  font-weight: 600;
  padding: 20px;
  position: relative;
}
.post-blockquote::before {
  content: "``";
  display: block;
  color: #eceef2;
  letter-spacing: -30px;

  position: absolute;
  top: 50%;
  left: -8px;
  font-size: 15em;
  z-index: -2;
}

/* post share */
.post-share li {
  display: block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fbfbfd;
  border: 1px solid #a7b3c6;
  transition: all 0.3s ease;
}
.post-share a {
  color: #a7b3c6;
  transition: all 0.3s ease;
  font-weight: 600;
  transform: translateY(1px);
}
.post-share i {
  font-size: 1.2em;
}
.post-share li:hover {
  border-color: #3b5998;
  transform: scale(1.2);
}
.post-share li:hover a {
  color: #3b5998;
}

@media (max-width: 992px) {
  body {
    font-size: 13px;
    width: 100%;
  }
  #header .header-nav {
    display: none;
  }
  #header {
    padding: 20px;
  }
  .margin-right {
    margin-right: 0;
  }
  .margin-top-md {
    margin-top: 25px;
  }
  .post-title-small a {
    font-size: 1.6em;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
    width: 100%;
  }
  #header .header-nav {
    display: none;
  }
  .post-title a {
    font-size: 1.3em;
  }
  .post-title-big a {
    font-size: 1.4em;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 11px;
    width: 100%;
  }
  .post-title-big a {
    font-size: 1.3em;
    line-height: 0;
  }
}
