body {
  font-size: 12px;
  font-family: "Nunito", sans-serif;
} /* Container */
.container {
  width: 85%;
  max-width: 1143px;
  margin: 0 auto;
}
/* post Dates */
.post-date {
  font-size: 0.9em;
  font-weight: 600;
}
.post-date-light {
  color: #eceef2;
}
/*post-title*/
.post-title a {
  font-weight: 600;
  font-size: 1.5em;
  text-decoration: none;
}
.post-title-white a {
  color: white;
}
.post-title-white a:hover {
  border-bottom: 2px solid white;
  transition: 0.3s;
}
.post-title-black a {
  color: black;
}
.post-title-black a:hover {
  border: 2px solid black;
  transition: 0.3s;
}
/* codes for header section */
#header {
  border-bottom: 1px solid #eceef2;
  background-color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*start Header-navbar */
.header-navbar {
  display: flex;
  width: 70%;
  align-items: center;
}
/* logo*/
.logo {
  width: 114px;
  padding-right: 20px;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
}
.header-nav li {
  padding: 20px;

  position: relative;
}
.header-nav a {
  text-transform: capitalize;
  font-weight: 500;
  color: #212631;
  text-decoration: none;
  font-size: 16 px;
  transition: all 0.3s ease;
}
/*header-nav nth-child*/
.header-nav li:nth-child(1) {
  border-left: 1px solid #eceef2;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(2) {
  border-right: 1px solid #eceef2;
}

.header-nav li:nth-child(3) {
  border-bottom: 4px solid #4bb92f;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(3) a:hover {
  color: #4bb92f;
}
.header-nav li:nth-child(4) {
  border-bottom: 4px solid #ff8700;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(4) a:hover {
  color: #ff8700;
}
.header-nav li:nth-child(5) {
  border-bottom: 4px solid #0078ff;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(5) a:hover {
  color: #0078ff;
}
.header-nav li:nth-child(6) {
  border-bottom: 4px solid #8d00ff;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(6) a:hover {
  color: #8d00ff;
}

/* end header-navbar */
/* start heder-btns*/
.header-btns {
  width: 10%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-btns button {
  border: none;
  outline: none;
  background-color: white;
}
/* end header-btns */
/*  start main section */
#main {
  margin-top: 38px;
}
#main .row {
  display: flex;

  height: 400px;
  justify-content: space-between;
}
/* start post */
.post {
  height: 330px;
  position: relative;
}
/* post img*/
.post__img {
  width: 100%;
  max-width: 550px;
  height: auto;
}
/*post body*/
.post-body {
  position: absolute;
  bottom: 0px;
  padding: 30px 15px;
}
/* post meta*/
.post-meta {
  padding-bottom: 25px;
}
.post-meta .btn {
  margin-right: 25px;
}
/*end post */
/*end main section*/
