body {
  font-size: 12px;
  font-family: "Nunito", sans-serif;
} /* Container */
.container {
  width: 85%;
  max-width: 1143px;
  margin: 0 auto;
}

/* section-title */
.section-title {
  font-weight: 600;
  color: #212631;
  margin: 0px 0px 15px;
  font-size: 2.3em;
  line-height: 1.2;
  text-transform: capitalize;
}
.hover:hover {
  opacity: 0.9;
  transition: 0.3s ease;
}
.responsive-img {
  width: 100%;
  max-width: 550px;
  height: auto;
}

/* codes for header section */
#header {
  border-bottom: 1px solid #eceef2;
  background-color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*start Header-navbar */
.header-navbar {
  display: flex;
  width: 70%;
  align-items: center;
}
/* logo*/
.logo {
  width: 114px;
  padding-right: 20px;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav li {
  padding: 20px;

  position: relative;
}
.header-nav a {
  text-transform: capitalize;
  font-weight: 500;
  color: #212631;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}
/*header-nav nth-child*/
.header-nav li:nth-child(1) {
  border-left: 1px solid #eceef2;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(2) {
  border-right: 1px solid #eceef2;
}

.header-nav li:nth-child(3) {
  border-bottom: 4px solid #4bb92f;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(3) a:hover {
  color: #4bb92f;
}
.header-nav li:nth-child(4) {
  border-bottom: 4px solid #ff8700;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(4) a:hover {
  color: #ff8700;
}
.header-nav li:nth-child(5) {
  border-bottom: 4px solid #0078ff;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(5) a:hover {
  color: #0078ff;
}
.header-nav li:nth-child(6) {
  border-bottom: 4px solid #8d00ff;
  border-right: 1px solid #eceef2;
}
.header-nav li:nth-child(6) a:hover {
  color: #8d00ff;
}

/* end header-navbar */
/* start heder-btns*/
.header-btns {
  width: 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
}
.header-btns button {
  border: none;
  outline: none;
  background-color: white;
}
/* end header-btns */
/*  start main section */
#main {
  margin-top: 38px;
}
#main .row {
  display: flex;

  height: 400px;
  justify-content: space-between;
}
/* start news */
.news {
  height: 330px;
  position: relative;
  transition: all 0.3s ease;
}

/*news body*/
.news-body {
  position: absolute;
  bottom: 0px;
  padding: 30px 15px;
}

/*end news */
/*end main section*/

/* start resent post */
#resent-posts .row {
  display: flex;
  justify-content: space-between;
}
#resent-posts .col {
  width: calc(100% / 3);
  margin-right: 30px;
  margin-top: 30px;
}
#resent-posts .col:last-child {
  margin-right: 0;
}
/* end resent post */
