<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
  </head>
  <body>
    <style>
      input,
      select {
        border: 1px solid grey;
        padding: 10px;
        display: block;
        margin-bottom: 10px;
        background-color: inherit;
      }
      input:focus {
        outline: none;
      }
    </style>
    {}
    <form action="/" method="POST">
      <input type="text" name="ad" placeholder="Adinizi daxil edin" />
      <!-- <input type="text" name="soyad" placeholder="Soyadinizi daxil edin" />
      <select name="city" id="">
        <option value="0">Yasadiginiz seheri secin</option>
        <option value="1">Baki</option>
        <option value="2">Gence</option>
        <option value="3">Sumqayit</option>
      </select> -->
      <input type="submit" value="Gonder" />
    </form>
  </body>
</html>
